
<% provide(:title_name, 'Депозиты') %>
<% render_navbar  %>

<article class="main-container-service">
	<section>	
		<div class="header-page-container">
			<strong class="header-page-name">Депозит</strong>
		</div>
	</section>	

	<section class="container-service">
		<div class="service-card-name">
			<span> банк </span>			
		</div>
		<div class="service-card-div">
			<div class="service-card-desc">
				<div class="service-desc">								
					<%= render(partial: 'shared/info_deposit', locals: {url: '#', dep: @deposit, hid: true}) %>
					<div class="service-desc">
						<div class="row-desc">
							<p>Сумма </p>
							<%=  number_field_tag(
							'summ-money', 
							@deposit['minimum_currency'], 
							min: @deposit['minimum_currency'],
							step: '500',
							class: 'form-input'
							) %>
						</div>
						<% if @deposit['month']==999 then %>
						<div class="row-desc">
							<p>Месяцев</p>
							<%=  number_field_tag(
							'summ-month', 
							'1', 
							max: @deposit['month'],
							min: 1,
							step: 1,
							class: 'form-input'
							) %>
						</div>
						<% end %>
						<div class="row-desc-link">
							<button onclick="calculateFn()" id='Calculate_btn', class='btn'>Рассчитать</button>
						</div>						

						<div class="row-desc-link">
							<div id='save_reslut' hidden>							
							<span id='result_money'></span>
							<%= form_with(url: user_deposits_path, data: {turbo: false}) do |f| %>
								<%= f.hidden_field('form_deposit[deposit_title]', value: @deposit['title_vklad']) %>
								<%= f.hidden_field('form_deposit[rate]', value: @deposit['rate']) %>
								<%= f.hidden_field('form_deposit[amount_money]', value: '') %>
								<%= f.hidden_field('form_deposit[month]', value: '') %>
								<%= f.hidden_field('form_deposit[deposit]', value: @deposit['deposit']) %>
								<%= f.hidden_field('form_deposit[withdrawal]', value: @deposit['withdrawal']) %>
								<div class="row-desc-link">
									<%= f.submit('Сохранить', class: 'btn') %>									
								</div>
							<% end %>
							</div>
						</div>
					</div>			
				</div>
			</div>
		</div>
	</section>
</article>

<script>

		var my_months;
		
		var rate = <%= @deposit['rate'] %>;
		var reslut_input = document.getElementById('result_money');

		var input_month_form = document.getElementById('form_deposit[month]');
		var input_money_form = document.getElementById('form_deposit[amount_money]');
		
	function calculateFn(){

		let month_choice = document.getElementById('summ-month');
		let save_button = document.getElementById('save_reslut');

		if (month_choice) {
			my_months = Number(month_choice.value);
		} else {
			my_months = <%= @deposit['month'] %>;					
		};


		//количество денег
		let input_summ_money = document.getElementById('summ-money');
		let quantity_money = Number(input_summ_money.value);

		let result = ((quantity_money * rate * (my_months * 30))/365)/100;

		input_month_form.value = my_months;
		input_money_form.value = quantity_money;
		save_button.removeAttribute('hidden');

		reslut_input.innerHTML = result.toFixed(2) + '&#8381; Сумма после закрытия вклада';
		reslut_input.type = 'text';
	};
</script>